@model User

@{
    ViewData["Title"] = "Видалити клієнта";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="container">

        <div class="mb-2">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
        </div>

        <div>
            <input type="submit" value="Видалити" class="btn btn-danger btn-sm" />
        </div>
    </div>
</form>
