@{
    ViewData["Title"] = "Головна";
}

@*<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto1.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto2.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto14.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto11.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto12.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto5.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto3.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto4.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto8.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto6.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto7.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto9.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto10.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/Photos/CarouselPhotos/CarouselPhoto13.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Спортивний клуб <span style="color:indianred">'Зона Спорту'</span></h2>
                <h5>Надає чудову можливість розпочати або продовжити займатися своїм фізичним станом завдяки:</h5>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">Висококласному тренажерному залу</span>
                <span><i class="fa-solid fa-dumbbell mx-2 fs-4"></i></span>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">Басейну</span>
                <span><i class="fa-solid fa-person-swimming mx-2 fs-4"></i></span>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">Широкому вибору спортивних дисциплін</span>
                <span><i class="fa-solid fa-table-tennis-paddle-ball mx-2 fs-4"></i></span>
                <span><i class="fa-solid fa-person-biking mx-2 fs-4"></i></span>
                <span><i class="fa-solid fa-person-running mx-2 fs-4"></i></span>
                <span></span>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">SPA-процедурам</span>
                <span><i class="fa-solid fa-spa mx-2 fs-4"></i></span>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">Великому вибору досвідчених фахівців та тренерів</span>
                <span><i class="fa-solid fa-users mx-2 fs-4"></i></span>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-5 text-dark">Зручному розкладу, який ви самі вибираєте</span>
                <span><i class="fa-regular fa-calendar-days mx-2 fs-4"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class=" col-12 mb-3">
            <hr />
            <div id="todaySpecial" class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="shadow rounded card">
                        <img class="card-img-top h-100" style="position:absolute" src="~/Photos/CarouselPhotos/Gym.jpg" alt="dish" />
                        <h2 style="color:peachpuff;position:absolute;text-align:center;">Тренажерний зал</h2>
                        <button style="background-color:peachpuff;position:absolute;bottom:0;width:220px; height:80px;font-size:30px;"><a asp-controller="KindOfSport" asp-action="Index" style="text-decoration:none; color:black;text-decoration: none;padding: 0.58em 1.43em;">Перейти</a></button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="shadow rounded card" style="width:100px;"> 
                        <img class="card-img-top h-100" style="position:absolute;" src="~/Photos/CarouselPhotos/SwimmingPool.jpg" alt="dish" />
                        <h2 style="color:peachpuff;position:absolute;text-align:center">Басейн</h2>
                        <button style="background-color:peachpuff;position:absolute;bottom:0;width:220px; height:80px;font-size:30px;"><a asp-controller="KindOfSport" asp-action="Index" style="text-decoration:none; color:black;text-decoration: none;padding: 0.58em 1.43em;">Перейти</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class=" col-12 mb-3">
            <div id="todaySpecial" class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="shadow rounded card">
                        <img class="card-img-top h-100" style="position:absolute" src="~/Photos/CarouselPhotos/Fitness.jpg" alt="dish" />
                        <h2 style="color:peachpuff;position:absolute;text-align:center;">Фітнес</h2>
                        <button style="background-color:peachpuff;position:absolute;bottom:0;width:220px; height:80px;font-size:30px;"><a asp-controller="KindOfSport" asp-action="Index" style="text-decoration:none; color:black;text-decoration: none;padding: 0.58em 1.43em;">Перейти</a></button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="shadow rounded card">
                        <img class="card-img-top h-100" style="position:absolute" src="~/Photos/CarouselPhotos/Boxing.jpeg" alt="dish" />
                        <h2 style="color:peachpuff;position:absolute;text-align:center;">Бойові мистецтва</h2>
                        <button style="background-color:peachpuff;position:absolute;bottom:0;width:220px; height:80px;font-size:30px;"><a asp-controller="KindOfSport" asp-action="Index" style="text-decoration:none; color:black;text-decoration: none;padding: 0.58em 1.43em;">Перейти</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class=" col-12 mb-3">
            <div id="todaySpecial" class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="shadow rounded card">
                        <img class="card-img-top h-100" style="position:absolute" src="~/Photos/CarouselPhotos/SPA.jpeg" alt="dish" />
                        <h2 style="color:peachpuff;position:absolute;text-align:center;">SPA</h2>
                        <button style="background-color:peachpuff;position:absolute;bottom:0;width:220px; height:80px;font-size:30px;"><a asp-controller="SPA" asp-action="Index" style="text-decoration:none; color:black;text-decoration: none;padding: 0.58em 1.43em;">Перейти</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

