@model Comment

<div class="row">
    
    <img src="~/Photos/CarouselPhotos/AboutUs.jpeg" style="display:block;margin:auto;width:1300px;min-width:1300px;position:absolute;height:550px;min-height:550px;" />

    <div class="col-md-7 mx-auto rounded border p-3" style="height:500px;min-height:500px;width: 680px;min-width:680px;position:relative;top:20px;background: rgba(255,255,207, 0.25);">

    <h1 class="text-center mb-5" style="text-align:center;color:indianred;font-weight:bold;font-family:Cambria;background-color:peachpuff;">Додавання нового коментаря</h1>

        <form asp-action="Create" style="width:650px;">
            <div class="mb-3">
                <div class="form-label" style="text-align:center;"><h4 style="color:white;font-weight:bold;font-family:Cambria;">Коментар</h4></div>
                <textarea class="form-control" asp-for="CommentDescription" style="text-align:start;height:150px;resize:none;" placeholder="Додати коментар..." required></textarea>
                <span asp-validation-for="CommentDescription" class="offset-sm-4 col-sm-4" style="color:indianred;background-color:peachpuff;"></span>
            </div>

            <div class="mb-3">
                <div class="form-label" style="text-align:center;"><h4 style="color:white;font-weight:bold;font-family:Cambria;">Тренер</h4></div>
                <select asp-for="CoachId" class="form-control" asp-items="ViewBag.Coaches" required>
                    <option style="text-align:center;" value="">-----</option>
                </select>
            </div>

            <div class="row">
                <div class="col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary" style="width:320px;height:60px;">Підтвердити</button>
                </div>

                &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
               
                <div class="col-sm-5 d-grid">
                    <a class="btn btn-outline-primary" style="width:315px;height:60px;background-color:darkgray;color:white;" asp-controller="Coach" asp-action="Index" role="button">
                        <p style="text-align:center;position:relative;top:10px;">Скасувати</p>
                    </a>
                </div>

            </div>
        </form>
    </div>
</div>




