@model IEnumerable<Coach>

@{
    ViewData["Title"] = "Про нас";
}

<div class="container" >
        <div>
       
        <h1 style="color:peachpuff;position:absolute;margin-left:90px;font-size:80px;">Про нас</h1>
                <div style="text-align:center;">
                        <img src="~/Photos/CarouselPhotos/AboutUs.jpeg"  alt="Тренажерний зал" style="width:1100px; height:700px;">
                 </div>
        </div>
</div>

<hr/>

<h1 style="text-align:center;padding:40px;color:indianred">5 причин унікальності нашого спортивного клуба</h1>

<hr />

<div class="container">
    <div class="row shadow rounded">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="mb-3">
        <h2>1. Команда професіоналів</h2>
            
        </div>

        <div class="mb-2 p-3">
        <span style="font-size:20px;">У нашому спортивному клубі працюють справжні професіонали своєї справи.
            Тренери з багаторічним досвідом допоможуть вам розробити індивідуальну програму тренувань з огляду на ваші цілі та особливості організму. 
            Вони завжди підтримають, навчать правильної техніки виконання вправ і стежитимуть за вашим прогресом.</span>
        </div>
    </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 p-3">
                <img src="~/Photos/CarouselPhotos/Team.jpg" class="d-block w-100 h-100" alt="Тренажерний зал">
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row shadow rounded">
       
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 p-3">
                <img src="~/Photos/CarouselPhotos/Trenirovki.jpg" class="d-block w-100 h-100" alt="Тренажерний зал">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>2. Різноманітність тренувань</h2>

            </div>

            <div class="mb-2 p-3">
                <span style="font-size:20px;">
                    Наш спортивний клуб пропонує широкий вибір тренувань для будь-якого рівня підготовки. 
                    Тут ви зможете займатись силовими тренуваннями, аеробікою, йогою, пілатесом, а також взяти участь у групових заняттях під керівництвом досвідчених інструкторів. 
                    Різноманітність тренувань дозволить вам підібрати оптимальну програму для досягнення ваших цілей.
                </span>
            </div>
        </div>

    </div>
</div>

<hr />

<div class="container">
    <div class="row shadow rounded">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>3. Сучасне обладнання</h2>

            </div>

            <div class="mb-2 p-3">
                <span style="font-size:20px;">
                    Наш спортивний клуб оснащений сучасним обладнанням, яке дозволить вам ефективно займатися та досягати результатів. 
                    Тут ви знайдете все необхідне для комфортного та продуктивного тренування: від тренажерів та гантелей до кардіо-зони та реабілітаційного обладнання.
                </span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 p-3">
                <img src="~/Photos/CarouselPhotos/SportInventar.jpg" class="d-block w-100 h-100" alt="Тренажерний зал">
            </div>
        </div>

    </div>
</div>

<hr />

<div class="container">
    <div class="row shadow rounded">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 p-3">
                    <img src="~/Photos/CarouselPhotos/Atmosfera.jpeg" class="d-block w-100 h-100" alt="Тренажерний зал">
                </div>
            </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="mb-3">
                <h2>4. Затишна атмосфера</h2>

            </div>

            <div class="mb-2 p-3">
                <span style="font-size:20px;">
                    Відвідування спортивного клубу має приносити задоволення, тому ми приділяємо особливу увагу створенню затишної та доброзичливої ​​атмосфери.
                    У нас панує доброзичлива спільнота однодумців, які готові підтримати вас на кожному етапі тренування.
                    Тут ви відчуєте себе як удома і із задоволенням відвідуватимете тренування.
                </span>
            </div>
        </div>

          
    </div>
</div>

<hr />

<div class="container">
    <div class="row shadow rounded">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="mb-3">
                <h2>5. Результати, про які мріяли</h2>

            </div>

            <div class="mb-2 p-3">
                <span style="font-size:20px;">
                    Вибираючи наш спортивний клуб, ви обираєте результати. 
                    Наша команда допоможе вам досягти поставлених цілей, чи це зниження ваги, поліпшення фізичної форми, збільшення м'язової маси або підвищення витривалості. 
                    Ми гарантуємо, що, прийшовши до нас, ви знайдете тіло, про яке мріяли, і заряд позитивних емоцій на весь день.

                    Вибравши наш спортивний клуб, ви робите вибір на користь здоров'я, якісних тренувань та підтримки професіоналів. Приєднуйтесь до нас вже сьогодні і почніть шлях до кращої віри
                </span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 p-3">
                <img src="~/Photos/CarouselPhotos/Results.jpg" class="d-block w-100 h-100" alt="Тренажерний зал">
            </div>
        </div>


    </div>
</div>
